nav{
    width:50%;
    height:60px;
    background-color:gray;
    margin:auto;
}

ul{
    list-style:none;
text-align:center;
background-color:black;

}

li{
    display:inline-block;
    padding-top:30px;
    padding-left:10px;
    padding-right:10px;

}